[Unit]
Description=Tidal Connect Service
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
WorkingDirectory=/usr/local/tidal-connect/
Type=oneshot
RemainAfterExit=yes

ExecStart=docker-compose up -d --no-recreate

ExecStop=docker-compose stop

ExecReload=docker-compose up -d --no-recreate

[Install]
WantedBy=multi-user.target
